@import url('https://fonts.googleapis.com/css?family=Bai+Jamjuree:500,700|Poppins:400,600&display=swap');

 html {
     margin: 0;
}
 body {
     font-family: 'Poppins', 'Bai Jamjuree', sans-serif;
}
/* 
/* A simple example of a media query. */
 @media only screen and (min-width: 480px){
    /* some css here */
}
/* A simple example of a media query. */
 @media only screen and (min-width: 768px){
    /* some css here */
}
/* A simple example of a media query. */
 @media only screen and (min-width: 1024px){
    /* some css here */
}
 html, body {
     overflow-x: hidden;
    /* Prevent scroll on narrow devices */
}
 body {
}
 img {
     width: 100%;
}
 td select{
     color: #212529 !important;
}
 td select:required:invalid {
     color: #757575 !important;
}
 th{
     font-weight: 600;
}
 th i{
     position: relative;
     left: -0.33em;
}
 textarea[readonly]{
     background-color: #fff !important;
     font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
 h3.preload{
     min-height: 1.2em;
 }
 h4.preload{
     height: 1.15em;
 }
 h4.preload .linear-preload{height: 15px;}
 .navbar-brand{
     max-width: 135px;
     margin: .33rem 0 .125rem;
}
 .navbar-warpper{
     box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}
 .btn-link{
     padding: 0;
     font-size: 1.12em;
     line-height: 1.2;
     color: #212529;
     transition: all 0.2s ease;
     text-decoration: none!important;
}
 .btn-link:hover{
     color: #000;
     text-decoration: none!important;
}
 .box-shadow-0:focus, .box-shadow-0:active{
     box-shadow: none;
 }
 .warp{
     padding-top: 150px;
}
 .graph-legend{
     position: relative;
     margin-left: 30px;
     margin-bottom: 0;
     margin-top: 15px;
}
 .graph-legend:before{
     content: '';
     width: 1em;
     height: 1em;
     background: #6739b7;
     position: absolute;
     left: -22.5px;
     top: .225em;
     border-radius: 3px;
}
 .graph-legend.pink:before{
     background: #e83e8c;
}
 .form-check-label{
     position: relative;
     top: 2px;
}
 .dropdown-toggle-no-arrow.dropdown-toggle::after{
     content: "";
     display: none;
}
 .dropdown-item.active, .dropdown-item:active{
     background-color: #663ab7;
}
 .dropdown-event .dropdown-item:focus, dropdown-event .dropdown-item:hover{
    background: #663ab717;
    color: #673AB7;
    font-weight: 600;
}
.dropdown-item:focus, .dropdown-item:hover{
     outline: none;
}
 .hover-cursor{
    cursor: pointer;
 }
 @media (max-width: 991.98px) {
     .offcanvas-collapse {
         position: fixed;
         top: 56px;
        /* Height of navbar */
         bottom: 0;
         left: 100%;
         width: 100%;
         padding-right: 1rem;
         padding-left: 1rem;
         overflow-y: auto;
         visibility: hidden;
         background-color: #343a40;
         transition: transform .3s ease-in-out, visibility .3s ease-in-out;
    }
     .offcanvas-collapse.open {
         visibility: visible;
         transform: translateX(-100%);
    }
}
 .headline{
     font-size: 0.66em;
     color: #6b757c;
}
 .nav-scroller {
     position: relative;
     z-index: 2;
     height: 2.75rem;
     overflow-y: hidden;
}
 .nav-scroller .nav {
     display: flex;
     flex-wrap: nowrap;
     padding-bottom: 1rem;
     margin-top: -1px;
     overflow-x: auto;
     color: rgba(255, 255, 255, .75);
     text-align: center;
     white-space: nowrap;
     -webkit-overflow-scrolling: touch;
}
 .nav-link{
     color: #000;
}
 .nav-link.active{
     color: #673AB7;
     font-weight: 700;
}
 .nav-link:hover {
     color: #673AB7;
}
 .nav-card > .nav-item > a.active{
     position: relative;
}
 .nav-card > .nav-item > a.active:before{
     content:'';
     width: 0;
     height: 0;
     border-style: solid;
     border-width: 5px 5px 0 5px;
     border-color: #663ab7 transparent transparent transparent;
     position: absolute;
     bottom: calc(-.5em - 1px);
     left: 0;
     right: 0;
     z-index: 1;
     margin: 0 auto;
}
 .nav-underline .nav-link {
     padding-top: .75rem;
     padding-bottom: .75rem;
     font-size: .875rem;
     font-weight: 400;
     color: #000000;
}
 .nav-underline .nav-link:hover {
     color: #673AB7;
}
 .nav-underline .router-link-active {
     font-weight: 500;
     color: #673AB7;
     border-bottom: 3px solid;
     font-weight: 700;
}
 .text-white-50 {
     color: rgba(255, 255, 255, .5);
}
 .text-purple{
     color : #673AB7;
}
 .bg-purple {
     background-color: #6f42c1;
}
 .bg-purple-light{
     background-color: #673ab73b;
     padding: .25rem .4rem;
     color: #663ab7;
}
 .nav-sub{
     background: #fff;
}
 .nav-sub .nav-link{
     padding: 1rem 1rem .75rem;
     margin-right: .5rem;
     margin-bottom: -2px;
     min-width: 70px;
     text-align: center;
}
 .input-dropdown-event:focus{color: #673AB7;font-weight: 600;}
 .form-control-plaintext:focus{
     outline: 0;
}
 .tr-add > td{
     background: #f6f6f6;
     padding: 8px 0px 10px;
     border-bottom: 1px solid #dee2e6;
}
 .tr-input{
    /* border-bottom : 1px solid #000; */
    position: relative;
 }
 .tr-input > td > input{
     line-height: 1.66;
}
 .tr-input th, .tr-input td{
     background: rgba(255, 243, 205, 0.3);
     border-bottom: 1px solid #fbedc6;
     min-height: 54px !important;
}
 .table-select .tr-active th, .table-select .tr-active td{
    background: #f2effa;
    border-bottom: none;
    min-height: 54px !important;
    cursor: pointer;
}
  .table-select th h3, .table-select td h3{
    font-size: 1em;
    margin: 0;
    line-height: 1.75em;
}
 .table-select .tr-active th h3, .table-select .tr-active td h3{
    font-weight: 600;
    color: #673AB7;
}
 .story-input{
     text-transform: uppercase;
 }
 .table-select .tr-active:hover th, .table-select .tr-active:hover td{
    background: #f2effa;
 }
 .table-select tr:hover th, .table-select tr:hover td{
    background: #f8f9fa;
    border-bottom: none;
    min-height: 54px !important;
    cursor: pointer;
}
.table-select tr:hover th input, .table-select tr:hover td input{
    cursor: pointer;
}
 .table-fixed tbody {
     height: calc(100vh - 370px);
     overflow-y: auto;
     width: 100%;
}
 .table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
     display: block;
}
 .table-fixed tbody td, .table-fixed tbody th, .table-fixed thead > tr > th {
     float: left;
     position: relative;
          &::after {
     content: '';
     clear: both;
     display: block;
    }
}
 .table-panael{
    height: inherit !important;
    border-bottom: 1px solid #dee2e6;
    position: relative;
    overflow: initial !important;
    z-index: 3;
 }
 .table tbody+tbody{
     border-top: 0;
     position: relative;
     top: -1px;
     height: calc(100vh - 410px);
 }
 .table-panael i{
     position: relative;
 }
 .table-panael-button{
     position: relative;
     top: 2px;
     margin-left: 30px;
 }
 .table-panael-button i{
     top: 2px !important;
     margin-right: 0.33em !important;
 }
 .table td, .table th{
     min-height: 54px;
 }
 .tr-dropdown{
     width: 100%;
}
 .tr-dropdown select {
     width: 100%;
     text-align: left;
     font-size: 1em;
     padding: 0;
     height: 1.75rem;
     border: none;
     position: relative;
     left: -.5rem;
     background: transparent;
}
 .tr-dropdown button:after{
     position: absolute;
     right: 0px;
     top: calc(50% - .1rem);
}
 .tr-dropdown select:focus{
     outline: 0;
     box-shadow: none;
}
 .hover-success, .hover-snger{
     position: relative;
     top: 0;
}
 .hover-success:hover{
     top: 1px;
}
 .hover-success:hover{
     color: #218838;
}
 .hover-danger:hover, .hover-danger:focus{
     color: #dc3545;
}
 .input-adjust.btn-group{
	position: absolute;
	top: 0.375em;
	left: 1.75em;
}
 .input-adjust.btn-group button{padding: .125em .25em;}
 .input-group-plaintext{
}
 .input-group-plaintext .input-group-prepend span{
     background: transparent;
     border: 0;
     padding: 0;
     padding-right: 0.5em;
}
 .input-group-plaintext .form-control {
     border: transparent;
     padding: 0;
     border-radius: 0;
}
 .input-group-plaintext .form-control:focus{
     box-shadow: none;
     border-bottom: 2px solid #663ab7;
}
.input-nostyle{
    padding: 0;
    height: 1.4em;
    line-height: 1em;
    font-weight: 600;
}
.input-nostyle.input-2digit{
    width: 2em;
}
.input-2digit-sign{
    position: absolute;
    bottom: 0.25em;
    left: 1.875em;
}
 .from-search{
     position: relative;
     border-radius: 3px;
     padding-right: 1.5rem;
}
 .from-search i{
     position: absolute;
     top: 0;
     right: 0;
}
 .from-search input{
     border-bottom: 2px solid #dee2e6;
     padding: 0 5px 5px !important;
     transition: all 0.3s ease;
}
 .from-search input:focus{
     outline: 0;
     border-bottom: 2px solid #663ab7;
}
 .btn:not(.btn-table) .fe{
     line-height: 0;
     position: relative;
     top: 2px;
}
 .btn .fe-info.text-muted{
     font-size: 1em;
     top: -1px;
}
 .btn-purple{
     background-color: #663ab7;
     border-color: #663ab7;
}
 .btn-purple:hover, .btn-purple:active, .btn-purple:focus{
     background-color: #58339c;
     border-color: #58339c;
}
 .btn-purple:not(:disabled):not(.disabled).active, .btn-purple:not(:disabled):not(.disabled):active, .show>.btn-purple.dropdown-toggle {
     background-color: #663ab7;
     border-color: #58339c;
}
 .btn-purple:not(:disabled):not(.disabled):focus, .btn-purple:not(:disabled):not(.disabled):active:focus, .btn-purple:not(:disabled):not(.disabled):active, .show>.btn-purple.dropdown-toggle:focus {
     box-shadow: 0 0 0 0.2rem rgba(102, 58, 183, 0.2);
}
 .form-control:focus {
     border-color: #58339c;
     box-shadow: 0 0 0 0.2rem rgba(102, 58, 183, 0.2);
}
 input:checked ~ .checkmark {
     background-color: #663ab7;
}
 .dropdown-file{
     width: 300px;
     padding: 15px;
}
 .card-webchat .card-body {
     border: none;
     min-height: 235px;
     height: 60vh;
     padding: .75rem 1.25rem;
     margin-bottom: 0;
     background-color: #343a40;
     border-radius: 3px 3px 0 0;
     overflow-y: scroll;
}
 .card-body h2 > i {
     position: relative;
     top: 0.125em;
     line-height: 1;
}
 .card-body code p > i {
     position: relative;
     top: 2px;
}
 .login-warp{
     margin-top:60px;
}
 .login-logo{
     width: 10vw;
     max-width: 175px;
     min-width: 150px;
     margin: 0 auto;
     margin-bottom: 45px;
}
 .login-logo img{
     display: flex;
}
 .btn-card-webchat{
     top: -2px;
     position: relative;
}
 .warpper .card{
     background-color: #fff;
     background-clip: border-box;
     border: 1px solid rgba(0,0,0,.125);
}
 .warpper .card-body {
     background: inherit;
     border-radius: .25rem;
     min-height: 165px;
     /* height: calc(3vh - 4.5rem); */
     overflow-x: hidden;
     overflow-y: scroll;
}
 .dot-flashing-center {
     display: flex;
     height: 1rem;
     justify-content: center;
     align-items: flex-start;
}
 .form-signin {
     width: 100%;
     max-width: 400px;
     padding: 30px;
     padding-top: 35px;
     margin: auto;
     background: #fff;
     border-radius: 5px;
     position: relative;
     overflow: hidden;
}
 .form-label-group {
     position: relative;
     margin-bottom: 1rem;
}
 .form-label-group > input, .form-label-group > label {
     height: 3.125rem;
     padding: .75rem;
}
 .form-label-group > label {
     position: absolute;
     top: 0;
     left: 0;
     display: block;
     width: 100%;
     margin-bottom: 0;
    /* Override default `<label>` margin */
     color: #495057;
     pointer-events: none;
     cursor: text;
    /* Match the input under the label */
     border: 1px solid transparent;
     border-radius: .25rem;
     transition: all .1s ease-in-out;
}
 .form-label-group input::-webkit-input-placeholder {
     color: transparent;
}
 .form-label-group input:-ms-input-placeholder {
     color: transparent;
}
 .form-label-group input::-ms-input-placeholder {
     color: transparent;
}
 .form-label-group input::-moz-placeholder {
     color: transparent;
}
 .form-label-group input::placeholder {
     color: transparent;
}
 .form-label-group input:not(:placeholder-shown) {
     padding-top: 1.25rem;
     padding-bottom: .25rem;
}
 .form-label-group input:not(:placeholder-shown) ~ label {
     padding-top: .25rem;
     padding-bottom: .25rem;
     font-size: 12px;
     color: #777;
}
 .dashboard-usage > span{
     font-size: 0.5em;
     margin-left: 5px;
     color: #000;
}
 .dashboard-summary{
}
 .chart-warpper h3.counter{
     position: absolute;
     z-index: 0;
     top: 2rem;
}
 .chart-warpper canvas{
     position: relative;
     z-index: 1;
}
 .chart-warpper h3 > span{
     font-size: 0.5em;
     margin-left: 0.33em;
}
 .chart-warpper h3{
     font-size: 2em;
}
 .media{
     font-size: 0.8em;
     line-height: 1;
     padding: 1em;
     margin-bottom: 0.5em;
    /* border-bottom: 1px solid #dfdfdf;
     */
}
 .media:last-child{
     border: none;
     padding-bottom: 0;
}
 .media h5{
     margin-bottom: 5px;
     padding-top: 5px;
     font-size: 1rem;
}
 .media h5 > span {
     font-weight: 600;
}
 .media p i{
     position: relative;
     top: 2px;
}
 .media-icon{
     font-size: 2em;
     background: #f4f0f9;
     width: 50px;
     height: 50px;
     display: flex;
     justify-content: center;
     align-items: center;
     color: #663ab7;
}
 .media-icon.danger{
     background: #fdeaeb;
     color: #dc346a;
}
 .media-icon.success{
     background: #e7f4e9;
     color: #28a745;
}
 .media-icon.warning{
     background: #ffb43b26;
     color: #f79b07;
}
 .media-body h3 > button{
     font-size: 0.66em;
     position: absolute;
     right: 0px;
     padding: 5px;
     top: 5px;
}
 .media-body h3 > button:hover{
     margin-top: 1px;
     color: #663ab7;
}
 .setting-row{
     position: relative;
     margin-bottom: 0.5rem;
}
 .setting-action{
     position: absolute;
     right: 30px;
     top: calc(50% - 0.5rem);
     border-radius: 3px;
}
 .setting-action button{
     padding: 10px;
     position: relative;
     top: 0;
}
 .setting-action button:hover{
     background: #f4f0f9;
     color: #673ab7;
     top: 1px;
}
 .setting-desc{
     line-height: 1.33em;
     font-size: 0.95em;
}
 .warpper .card.setting-warpper{
     border: none;
     background: #f5f5f5;
}
 .from-search input.setting-input{
     font-size: 1.2em;
     position: relative;
     top: 7.5px;
     padding: 0 60px 7.5px 0 !important;
     width: calc(100% - 60px);
}
 .debugger-body{
    font-size: 1.125em;
    display: flex;
    align-items: center;
}
 .debugger-body pre{
    overflow: hidden;
    font-size: 1em;
    line-height: 1.2em;
}
 .debugger-body p{
    font-size: 1.1em;
}
 .debugger-body .div{
    width: 100%
 }
/* Fallback for Edge -------------------------------------------------- */
 @supports (-ms-ime-align: auto) {
     .form-label-group > label {
         display: none;
    }
     .form-label-group input::-ms-input-placeholder {
         color: #777;
    }
}
/* Preload indeterminate for IE -------------------------------------------------- */
 .linear-activity {
     overflow: hidden;
     width: 100%;
     height: 5px;
     background-color: #f69cc2;
     position: absolute;
     top: 0;
     left: 0;
}
 .indeterminate {
     position: relative;
     width: 100%;
     height: 100%;
}
 .indeterminate:before {
     content: '';
     position: absolute;
     height: 100%;
     background-color: #e83e8c;
     animation: indeterminate_first 1.5s infinite ease-out;
}
 .indeterminate:after {
     content: '';
     position: absolute;
     height: 100%;
     background-color: #4FC3F7;
     animation: indeterminate_second 1.5s infinite ease-in;
}
 @keyframes indeterminate_first {
     0% {
         left: -100%;
         width: 100%;
    }
     100% {
         left: 100%;
         width: 10%;
    }
}
/* ----------- ----------- */
/* Preload indeterminate for IE -------------------------------------------------- */
 .linear-preload {
     overflow: hidden;
     width: 60%;
     background-color: #f7f7f7;
     position: absolute;
     top: 0.3em;
     height: 1.1em;
     left: 0;
     border-radius: 1em;
     max-height: 20px;
}
 .linear-preload.span-next_warp{top: 1.55em;height: 12px;width: 37.5%;}
 .indeterminate-preload {
     position: relative;
     width: 100%;
     height: 100%;
}
 .indeterminate-preload:before {
     content: '';
     position: absolute;
     height: 100%;
     background: linear-gradient(90deg, rgba(247,247,247,1) 0%, rgba(227,227,227,1) 50%, rgba(247,247,247,1) 100%);
     animation: indeterminate_first 1.5s infinite ease-out;
}
 .indeterminate-preload:after {
     content: '';
     position: absolute;
     height: 100%;
     background-color: #4FC3F7;
     animation: indeterminate_second 1.5s infinite ease-in;
}

 @keyframes indeterminate_first-preload {
     0% {
         left: -100%;
         width: 100%;
    }
     100% {
         left: 100%;
         width: 10%;
    }
}
h3 .linear-preload{
    height: 0.6em;
    width: 60%;
    top: 0.375em;
}
/* ----------- ----------- */
 .digit-box {
     display: flex;
     justify-content: center;
     align-items: center;
     color: whitesmoke;
     font-size: 2em;
     border: 2px solid #58339c;
     border-radius: .25em;
     background-color: #58339c;
     margin: 5px;
     min-width: 50px;
     min-height: 50px;
     max-width: 50px;
     max-height: 50px;
}
 .badge .fe{
    font-size: 0.9em;
    left: -1.5px;
    font-weight: 900;
}
 .badge-setting{
     font-size: 0.9em;
     position: relative;
     top: -1px;
}
 .badge-story{font-size: 0.9em;top: 2px;position: relative;padding: .25em .5em;}
 .badge-purple{
     background-color: #663ab7;
     color: #fff;
 }
 .textarea-code{
     color: #e83e8c!important;
     font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
     font-size: 1.1em;
     word-break: break-all;
}
 .card-title-token{
     font-size: 1.2rem !important;
}
 .card-title{
     position: relative;
 }
 h6.card-title{
     min-height: 1.45em;
 }
 .btn-link.btn-edit{
     font-size: 18px;
     position: absolute;
     top: 30%;
     right: 0;
}
 .card-webchat .card-footer{
     border: 1px solid #dee2e6;
     border-top: 0;
}

/* Sweet Alert Style */

 .swal2-modal{
     width: 450px !important;
     padding: 20px !important;
     position: relative;
     top: -5vh;
}
 .swal2-text{
     text-transform: capitalize;
     color: #000;
     font-size: 18px;
}
 .swal2-modal .swal2-icon{
     margin: 15px auto 20px !important;
}
 .swal2-html-container{
     color: #000;
     line-height: 1.125em;
     margin-bottom: 5px;
}
 .swal2-title{margin-bottom: 5px !important;color: #000 !important;}

 .swal2-modal:not(.swal-icon) .swal2-text{
     font-size: 18px;
}
 .swal2-modal:not(.swal-icon) .swal2-text:first-child{
     margin-top: 30px;
    font-weight: 600;
    font-size: 22px;
 }
 .swal2-container .swal2-actions > button{
     width: 100%;
     background: #9E9E9E;
     transition: all 0.2s ease;
     font-size: 18px;
     font-weight: 700;
     text-transform: uppercase;
     flex: 1
}
 .swal2-container .swal2-actions > .swal2-confirm{
     background: #673ab7;
}

/* button cancle swals */
 .swal2-styled.swal2-cancel{
     background-color: #9e9e9e;
     color: #fff !important;
}
 .swal2-styled.swal2-cancel:focus{
     box-shadow: 0 0 0 3px rgba(156, 156, 156, 0.4);
}

/* success swals */
/* button */
 .swal2-styled.swal2--success, .swal2-styled.swal2--question{
     background: #673ab7;
     color: #fff !important;
}
 .swal2-styled.swal2--success:focus, .swal2-styled.swal2--question:focus{
     box-shadow: 0 0 0 3px rgba(103, 58, 183, 0.30);
}
 .swal2-actions:not(.swal2-loading) .swal2-styled:hover {
     background-image: linear-gradient(rgba(0,0,0,.05),rgba(0,0,0,.05)) !important;
}
/* icon */
 .swal2-icon.swal2-success{
     background-color: #fff !important;
     color: #673ab7 !important;
}
 .swal2-icon.swal2-success .swal2-success-ring{
     border-color: rgba(103, 58, 183, 0.7) !important;
}
 .swal2-icon.swal2-success [class^=swal2-success-line]{
     background-color: #673ab7 !important;
}


/* alert swals */
/* button */
 .swal2-container button.swal2-styled.swal2--error{
     background: #dc3545;
     color: #fff !important;
}
 .swal2-styled.swal2--error:focus{
     box-shadow: 0 0 0 3px rgba(220, 53, 69, 0.30);
}
/* icon */
 .swal2-container .swal2-icon.swal2-error{
     border-color: rgba(220, 53, 69, 0.80);
     color: rgba(220, 53, 69, 0.80);
 }
 .swal2-container .swal2-icon.swal2-error [class^=swal2-x-mark-line]{
     background-color: #dc3545;
     color: #dc3545;
}

/* warning swals */
/* button */
 .swal2-container button.swal2-styled.swal2--warning{
     background: #ff9d02;
     color: #fff !important;
}
 .swal2-styled.swal2--warning:focus{
     box-shadow: 0 0 0 3px rgba(255, 181, 7, 0.5);
}
/* icon */
 .swal2-container .swal2-icon.swal2-warning{
     border-color: rgba(255, 181, 7, 0.8);
     color: rgba(255, 181, 7, 0.8);
 }
 .swal2-container .swal2-icon.swal2-warning .swal2-icon-content{
     color: #ff9d02;
}

/* question swals */
/* icon */
 .swal2-container .swal2-icon.swal2-question{
     border-color: rgba(103, 58, 183, 0.7);
     color: rgba(103, 58, 183, 0.7);
 }
 .swal2-container .swal2-icon.swal2-question .swal2-icon-content{
     color: #673ab7;
     position: relative;    
     left: 2px;
}

 .swal2-container .swal2-popup.swal2-toast{
    padding: 0.65em 0.65em 0.56em;
    margin: 15px;
    width: 235px;
    /* text-overflow: ellipsis; */
    /* white-space: nowrap; */
    /* word-break: break-all; */
    justify-content: flex-start;
    background-color: #673AB7 !important;
    border-color: transparent!important;
 }

 .swal2-container .swal2-toast .swal2-icon{
    top: -1px;
    border: none;
    background-color: transparent !important;
    border-color: transparent!important;
}

 .swal2-container .swal2-toast .swal2-icon .swal2-success-ring{
    display: none;
}
 .swal2-container .swal2-popup.swal2-toast .swal2-title{
    margin-bottom: 0 !important;
    color: #fff !important;
    width: 165px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
 }
 .swal2-toast .swal2-icon.swal2-success [class^=swal2-success-line] {
    background-color: #fff !important;
 }
 .swal2-toast .swal2-icon.swal2-success [class^=swal2-success-circular-line]{
    background: transparent;
 }

 .swal2-toast .swal2-icon.swal2-error [class^=swal2-x-mark-line]{
    background-color: #fff;
    color: #fff;
 }

 .swal2-toast .swal2-icon-content{
     color: #fff !important;
 }

  .swal2-container.success .swal2-popup.swal2-toast {
     background-color: #27a744 !important;
 }

  .swal2-container.error .swal2-popup.swal2-toast {
     background-color: #dc3545 !important;
 }

  .swal2-container.warning .swal2-popup.swal2-toast {
     background-color: #ff9d02 !important;
}

 .highlight tr:first-child td, .highlight tr:first-child th{
    background:  #fff;
    border-color: #d6d8db;
    animation: gradientBG 1.5s;
}

 @keyframes gradientBG {
	0% {
		background:  #fff;
    }
    20% {
		background:  #f1f1f1;
    }
    80% {
		background:  #f1f1f1;
	}
	100% {
		background:  #fff;
	}
}

 /* .highlight tr:first-child{
	animation-name: fadeBG;
	-webkit-animation-duration: .5s;
    animation-duration: .5s;
} */

/* @keyframes fadeBG{
    0% {
		opacity: 1;
    }
    10% {
		opacity: 0;
    }
    80% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
} */

.spinner-border{
    width: 1em;
    height: 1em;
    border-width: 0.1em;
}

.styled-checkbox {
  position: absolute;
  opacity: 0;
}
.styled-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
  margin: 0;
  top: 3px;
}
.styled-checkbox + label:before {
  content: "";
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  background: #e5e8eb;
  border-radius: 5px;
}
.styled-checkbox:hover + label:before {
  background: #d1d5da;
}
.styled-checkbox:focus + label:before {
  box-shadow: 0 0 0 2px rgba(103, 58, 183, 0.15);
}
.styled-checkbox:checked + label:before {
  background: #663ab7;
}
.styled-checkbox:disabled + label {
  color: #ddd;
  cursor: auto;
}
.styled-checkbox:disabled + label:before {
  box-shadow: none;
  background: #ddd;
}
.styled-checkbox:checked + label:after {
  content: "";
  position: absolute;
  left: 4px!important;
  top: 9px!important;
  background: white;
  width: 3px!important;
  height: 3px!important;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white !important;
  -webkit-transform: rotate(45deg)!important;
          transform: rotate(45deg)!important;
}
.tr-active .styled-checkbox + label:before{
    background: #663ab7;
}
.tr-active .styled-checkbox + label:after {
    content: "";
    position: absolute;
    left: 4px;
    top: 8.5px;
    background: white;
    width: 3px;
    height: 3px;
    box-shadow: 0px -2px 0 white, 0px -4px 0 white, 0px -6px 0 white, 0px -9px 0 white;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}